
body {
    max-width: 1900px;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: block;
}

header {
    display:block;
    background: lightpink;
    border-bottom: 2px solid black;
}

ul li{
    list-style-type: none;
}


.socmed-links{
    font-size: small;
    display: none;
    background: rgb(101, 243, 96); 
}


.home-links{
    text-align: center;
}

.navigation{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #fff; 
}


#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
    right: 0;
 	position: absolute;
    cursor: pointer;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}
.open a {
	display: block;
}
.navigation a {
	display: none;
}

.open a {
	display: block;
}







.hero {
    text-align: justify;
    background: coral;
    line-height:3; 
    text-indent: 15px; 
}
a.book {
    font: 20px;
    color: black;
}

.hero img{
    width: 95%;
    display: block; /* This ensures that margins auto work */
    margin: 0 auto;
}
.current-event {
    text-align: justify;
    background: yellow;
    line-height:3; 
    text-indent: 15px; 
}
.weather {
    text-align: justify;
    background: rgb(247, 107, 247);
    line-height:3; 
    text-indent: 15px; 
}
.spotlights {
    text-align: justify;
    background: rgb(141, 127, 223);
    line-height:3; 
    text-indent: 15px; 
}




footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
}

.footer-links{
    justify-content: center;
    display: flex;
}
 .footer-links a{
    color:black;
    margin: 5px;
}




.discover{
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: auto;
}
main div img {
    width: 100%;
}
.sidebar {

    grid-column: 1;
    /* Additional styling */
}

.main-content {
    grid-column: 2;
    /* Additional styling */
}

