@media screen and (min-width: 768px) {

    nav ul li{
        display: inline;
    }
    .socmed-links{
        display:flex;
        align-items: center;
    }
    .socmed-links h1{
        text-indent: 20px;
    }
    .socmed-links ul{
       margin-left: auto;
       margin-right: 20px;
    }

    .page-nav {
        display: flex;
        justify-content: left; 
        align-items:center;
    }

    main {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;     
        grid-template-rows:1fr 1fr 1fr 1fr ;          
    }
    .hero{
        grid-column:1/4 ;
        grid-row:1/3;
    }
    .current-event{
        grid-column:1/3 ;
        grid-row:3/4;
    }
    .weather{
        grid-column:3/4 ;
        grid-row:3/4;
    }
    .spotlights{
        grid-column:1/4;
        grid-row:4/5;
    }

}