body {
    min-width: 400px;
    align-items: center;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#profil-picture{
    margin: 5px;
}

.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

}
.herolabel {
    position: absolute;
    top: 20px;
    left: 5%;
	background:#ccc;
	padding: 1rem;
	opacity: .75;
}
.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 20px;
}


main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

main section {
    border-radius: 10px;
    margin: 10px;
    min-height: 180px;
}

main ul {
    list-style: none;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 2em;
    text-align: center;
}


nav {
 margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .5rem;
}


h1{
    text-align: center;
    margin: 1rem 0 .5rem;
    
}

.card li{
    list-style: none;
}

.card {
    padding: 20px;
    border-radius: 8px;
}

.card h2 {
    text-align: center; 
    padding: 10px; 
    border-radius: 5px; 
    margin: 0;
}


.darkBtn {
	border: 0;
	background: none;
 	position: absolute;
    top: 3px;
	right: 3px;
    cursor: pointer;
}
.lightBtn {
    display: none;
	border: 0;
	background: none;
 	position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
    right: 3px;
    bottom: 0;
    cursor: pointer;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.open a {
	display: block;
}
.navigation a {
	display: none;
}

.open a {
	display: block;
}


