body.dark {
    background-color: #302f2f;
    color: #dbdbdb;
}
header.dark {
    background-color: #1b1a1a;
}

#profil-picture.dark {
    box-shadow: 0 2px 4px #8a8a8a;
}

nav.dark {
 background-color: #24384d;
}

nav.dark a {
    color: #dbdbdb;
    
}
nav.dark a:hover {
    color: rgb(245, 245, 103);
    background-color: #24384d;
}
.active.dark {
    color: rgb(245, 245, 103);
    background-color: #24384d;
}

h1.dark {
    border-bottom: 1px solid #ccc;
    
}

.card.dark {
    background-color: #757373;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.card.dark ul li a{
    color:#ffffff;
}
.card.dark ul li a:visited {
   color:rgb(245, 245, 103);
}

.card.dark  h2{
    background-color: #24384d; 
}

#menu.dark {
	color: #dbdbdb;
}

footer.dark {
    background-color: #1b1a1a;
}
.herolabel {
	color: #1b1a1a;
}