@media screen and (min-width: 720px) {
    body {
        max-width: 100%;
        text-align: center;
    }
    nav ul {
        display: flex;
    }
    nav ul li{
        flex: 1 1 100%;
    }
    .navigation a {
        display: block;
    }
    .navigation{
        width: 100%;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
    }
    main h1 {
        text-align: left;
        grid-column: 1 / 3;
        margin-left: 1rem;
    }
    #menu {
        display: none;
    }
    .hero{
        grid-column: 1 / 3;
    }

}